<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xp1997.xp.sys.shiro.mapper.SysUserMapper">

    <select id="getUserByUsername" parameterType="string" resultType="cn.xp1997.xp.sys.shiro.entity.SysUser">
    SELECT
	*
    FROM
	sys_user
    WHERE
	username = #{username}
    </select>

    <select id="getAuthListByUsername" parameterType="string" resultType="cn.xp1997.xp.sys.shiro.entity.SysAuth">
    SELECT
	a.*
    FROM
	sys_user AS u
	LEFT JOIN sys_user_role AS ur ON u.id = ur.user_id
	LEFT JOIN sys_role_auth AS ra ON ur.role_id = ra.role_id
	LEFT JOIN sys_auth AS a ON ra.auth_id = a.id
	where
	u.username = #{username}
    </select>

	<select id="getUsersPage" resultType="cn.xp1997.xp.sys.shiro.entity.vo.SysUserVo">
	SELECT
	u.*,
	r.role_name
	FROM
	sys_user AS u
	LEFT JOIN sys_user_role AS ur ON u.id = ur.user_id
	LEFT JOIN sys_role AS r ON ur.role_id = r.id



	<where>
	1 = 1
		<if test="username != null">
			<if test="username != ''">
				AND u.username = #{username}
			</if>
		</if>
		<if test="roleName != null">
			<if test="roleName != ''">
				AND r.role_name = #{roleName}
			</if>
		</if>

	</where>
	</select>

	<select id="checkPassword" parameterType="string" resultType="cn.xp1997.xp.sys.shiro.entity.SysUser">
	SELECT
	*
	FROM
	sys_user
	WHERE
	id = #{id}
	AND `password` = #{password}
	</select>

</mapper>
